<section>
    <a href="/dashboard"> &larr; Back to Dashboard</a>
    <h2>Create a new Warehouse</h2>
</section>

<form class="new-warehouse-form">
    <div>
        <label for="warehouse-name">Warehouse Name</label>
        <input type="text" id="warehouse-name" name="warehouse-name" />
    </div>
    <div>
        <label for="warehouse-description">Description</label>
        <input type="text" id="warehouse-description" name="warehouse-description" />
    </div>
    <button type="submit" class="btn">Create</button>
</form>